*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homepage{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    width: 100%;
    height: 100vh;


    --ls-fx-s: 2rem;
    --ls-fx-m: 2.5rem;
    --ls-fx-l: 4rem;

    /* SMALL SCREEN FONT SIZE */
    --fx-s: 1.3rem;
    --fx-m: 2rem;
    --fx-l: 3rem;

    --pd-l: 2.5rem;
    --pd-m: 2rem;
    --pd-s: 1rem;

    --pry-bg-clr: whitesmoke;
    --pry-tx-clr: whitesmoke;
    --sec-bg-clr: white;
    --sec-tx-clr: #333333;
    --logo-clr: hwb(182 3% 0%);
    
    --card-bg-clr: #dcf5f8;
    --btn-clr: #0890ff;
}

button{
    all: unset;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    background: var(--btn-clr);
    color: var(--pry-tx-clr);
    transition: 200ms linear;
}
button:hover{
    background: var(--pry-bg-clr);
    color: var(--btn-clr);
    scale: .96;
    transition: 200ms linear;
}
.homepage-container{
    width: 100%;   
    height: 100%; 
}



/* POPUP / GREET USER SECTION */
.popup.great-user{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    max-width: 500px;
    background: var(--pry-bg-clr);
    background: transparent;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    padding: 20px;
}
.popup.great-user .popup-container{
    border: 2px solid var(--card-bg-clr);
    padding: 20px;
    border-radius: 10px;
}
.popup.great-user .popup-container h3{
    padding-bottom: 10px;
    color: var(--btn-clr);
    font-size: var(--ls-fx-s);
}
.popup.great-user .popup-container h4{
    padding-bottom: 10px;
    font-size: var(--fx-s);
    color: var(--sec-tx-clr);
    font-weight: 400;
}
.popup.great-user .popup-container p{
    font-weight: 300;
    line-height: 1.8rem;
}
.popup.great-user .close-btn{
    position: absolute;
    top:20px;
    right: 20px;
}
.popup.great-user .close-btn img{
    width: 30px;
    rotate: 45deg;
    cursor: pointer;
}
.popup.great-user .close-btn img:hover{
    opacity: .7;
}
/* HOME LANDING SECTION */
.homepage-header {
    position: fixed;
    top: 0;
    left: -120%;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: 400ms ease-in-out;
}
.homepage-header.active{
    left: 0;
    transition: 400ms ease-in-out;
}
.homepage-header-container{
    width: 400px;
    height: 100vh;
    background: var(--pry-bg-clr);
    display: flex;
    flex-direction: column;
}
.homepage-header-container .theme{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #cf0f0f;
    font-size: var(--fx-m);
    font-weight: 700;
    color: var(--pry-tx-clr);
    padding:20px;
}
.theme span{
    display: block;
    width: 60px;
    height: 30px;
    background: var(--pry-bg-clr);
    margin-left: 20px;
    border-radius: 30px;
    position: relative;
}
.theme .theme-color::after{
    content: "";
    position: absolute;
    top: 2px;  
    left: 5px;
    width: 26px;
    height: 26px;
    background: radial-gradient( #cf0f0f, black);
    border-radius: 50%;
    transition: 200ms linear;
}
.theme .toggle.theme-color::after{
    left: 30px;
    transition: 200ms linear;
}

.homepage-header-container ul{
    list-style: none;
}
.homepage-header-container li{
    padding: 10px;
    border-bottom: 2px solid lightgray;
    background: var(--card-bg-clr);

}
.homepage-header-container li:hover{
    background: var(--btn-clr);
}

.handburger-menu{
    position: fixed;
    top: 60px;
    left: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px 10px 10px;
    backdrop-filter: blur(10px);
    background: transparent;
}
.handburger-menu .menubar{
    position: relative;
    width: 40px;
    height: 4px;
    background: var(--logo-clr);
    cursor: pointer;
    z-index: 1001;
}
.handburger-menu .menubar::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 30px;
    height: 4px;
    background: var(--logo-clr);
}
.handburger-menu .menubar::before{
    content: "";
    position: absolute;
    top: 20px;
    left: 0px;
    width: 20px;
    height: 4px;
    background: var(--logo-clr);
}
.handburger-menu .menubar:hover {
    background: var(--btn-clr);
    width: 10px;
}
.homepage-header .close-btns{
    position: absolute;
    top: 30px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.homepage-header .close-btn{
    position: relative;
    width: 40px;
    height: 4px;
    background: var(--pry-bg-clr);
}
.homepage-header .close-btn::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 30px;
    height: 4px;
    background: var(--pry-bg-clr);
}



/* HOME LANDING SECTION */
.landing-page{
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(125deg, rgb(216, 11, 107), rgb(225, 0, 255), rgb(149, 14, 212)80% 0);
}
.brand-logo{
    position: absolute;
    top: 50px;
    right: 30px;
    width: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.landing-page-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--pd-m);
}
.landing-page-container .section-context{
    padding: var(--pd-l);
}
.landing-page-container .section-context > p{
    font-size: var(--ls-fx-s);
    padding: var(--pd-s) 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.landing-page-container .section-context > h2{
    font-size: var(--ls-fx-m);
    padding: 0 0 var(--pd-m);
    max-width: 80%;
    color: var(--pry-tx-clr);
}
.landing-page-container .section-context > h1{
    font-size: var(--ls-fx-m);
    padding-left: var(--pd-s);
    bkorder-left: 4px solid var(--logo-clr);
}


/* SUBSCRIPTION BUTTON SECTION */
.subscription{
    position: relative;
    display: flex;
    padding: var(--pd-s) ;
    flex-direction: column;
}
.subscriphtion::after{
    content: "";
    width: 10%;
    height: 2px;
    background: var(--btn-clr);

    position: absolute;
    bottom: 10px;
    left: 0;

    animation: subLine 10s linear infinite;
}
.subscription p{
    margin-right: 20px;
    color: var(--pry-tx-clr);
    width: 70%;
}
.subscription form {
    border-bottom: 2px solid var(--btn-clr);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.subscription form input{
    border: none;
    width: 70%;
    background: transparent;
    padding: 0 20PX;
    color: var(--pry-tx-clr);
    margin-bottom: -15px;
}
.subscription input:hover,
.subscription input:focus{
    border: none;
    outline: none;
}
.subscription input::placeholder{
    color: var(--pry-tx-clr);
    font-size: var(--fx-s);
}

.subscription button{
    box-shadow: none;

}
@keyframes subLine {
    0%{
        width: 10%;
    }
    30%{
        width: 100%;
    }
    60%{
        width: 0%;
    }
    65%{
        width: 2px;
        height: 1%;
        border: 2px solid var(--btn-clr);
    }
    80%{
        width: 2px;
        height: 80%;
    }
    100%{
        width: 0%;
    }
    
}

.landing-page-container h1{
    font-size: var(--ls-fx-l);
    color: var(--pry-tx-clr);
}

:focus{
    padding: 20px;
    border: none;
    border: 2px solid var(--btn-clr);
    outline: none;

}




@media screen and (max-width: 768px) {
    .landing-page-container .section-context{
        padding: var(--pd-m);
    }
    .landing-page-container h2{
        font-size: var(--fx-m);
    }    
    /* .subscription{
        flex-direction: column;
        justify-content: left;
    }
    .subscription p{
        margin: 0;
        width: 100%;
    }
    .subscription button{
        margin-top: 20px;
        width: fit-content;
        margin-left: -190px;
    }
    */
    .contact-container{
        flex-direction: column;
    }
    .contact-form{
        border: none;
        order: 2;
        border-top: 20px solid var(--btn-clr);
        padding: 40px 20px;
    }
} 
