/********* GALLERY SECTION *******/
.gallery{
    width: 100%;
    height:auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--pd-ls);
    margin-bottom: 20px;
    color: black;
}
.gallery-description{
    margin: 20px 0;
}
.gallery-description h1{
    border-left: 5px solid var(--pry-brown);
    padding-left: 10px;
    margin-bottom: 10px;
}
.gallery-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-container h2{
    margin: 30px 0 30px;
    color: var(--accent-beige);
    background: var(--dark-accent);
    width: 100%;
    text-align: center;
    padding: 10px;
}
.image-card-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    place-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.image-card{
    position: relative;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    aspect-ratio: 6/7;
    overflow: hidden;
}
.image-card img{
    width: 100%;
    aspect-ratio: 6/7;
}
.image-card .about{
    position: absolute;
    bottom: -200%;
    left: 0;
    padding: 10px;
    background: var(--tx-light);
    width: 100%;
    color: var(--pry-brown);
    color: whitesmoke;
    transition: 200ms ease;
    opacity: .9;
}
.image-card .about h2{
    text-align: left;
    background: transparent;
    padding: 0;
    border-bottom: 2px solid var(--soft-cream);
    
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.image-card:hover  .about{
    bottom: 0;
    transition: 200ms ease-in-out;
}



