.landing-page{
    position: relative;
    width: 100%;
    background: url(../../assets/backgroung-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.landing-page-container{
    width: 100%;
    
    padding: var(--pd-ls);
    background: linear-gradient(rgba(0, 0, 0, 0.714), rgba(3, 2, 2, 0.637))
}
.landing-page-container .section-context{
    padding: var(--pd-l) 0;
}
.landing-page-container .section-context > p{
    font-size: var(--ls-fx-s);
    padding: var(--pd-s) 0;
    color: var(--accent-beige);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.landing-page-container .section-context > h2{
    font-size: var(--ls-fx-m);
    padding: 0 0 var(--pd-m);
    max-width: 80%;
    color: var(--soft-cream);
}
.landing-page-container .section-context > h1{
    font-size: var(--ls-fx-m);
    color: var(--soft-cream);
    padding-bottom: var(--pd-l);
}

/* SUBSCRIPTION BUTTON SECTION */
 .subscription{
    position: relative;
    display: block;
    padding: var(--pd-s) 0;
    color: var(--soft-cream);

}
.subscription form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    background: var(--pry-bg);
    border-top-right-radius: 10px;
    max-width: 800px;
}
.subscription form input{
     border: none;
     margin: 0;
}
.subscription input:hover,
.subscription input:focus{
    border: none;
    outline: none;
}
.subscription form button{
    border-radius: 0;
    background: var(--pry-brown);
    color: var(--pry-bg);
    padding: 10px;
    margin: 0;
    border-top-right-radius: 10px;
}
.subscription form button:hover{
    background: whitesmoke;
    scale: 1;
    border: none;
}

@keyframes subLine {
    0%{
        width: 10%;
    }
    30%{
        width: 100%;
    }
    60%{
        width: 0%;
    }
    65%{
        width: 2px;
        height: 1%;
        border: 2px solid var(--btn-clr);
    }
    80%{
        width: 2px;
        height: 80%;
    }
    100%{
        width: 0%;
    }
    
}



/*

@media screen and (max-width: 768px) {
    .landing-page-container{
        padding: 20px;
    }
    .landing-page-container .section-context{
        padding: 10px;
    }
    .landing-page-container h2{
        font-size: var(--fx-m);
    }    
    .subscription{
        justify-content: left;
    }
    .subscription p{
        margin: 0;
        width: 100%;
    }
    .subscription form input::placeholder{
        font-size: .8rem;
    }
    .subscription button{
        width: fit-content;
        font-size: .8rem;
        margin: 0;
    }
    
} 
*/