#about{
    background: url("../../assets/Buildings.jpg"), linear-gradient(rgb(15, 11, 15), rgb(63, 18, 2));
    
    width: 100%;
    height: 50%;
    overflow: hidden scroll;
    color: var(--pry-tx-clr);    
}
.about-container{
    background: linear-gradient(rgba(17, 11, 17, 0.575), rgba(0, 0, 0, 0.753));
    padding: 40px 10%;
}
#about::-webkit-scrollbar{
    display: none;
}

.about-content{
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(17, 11, 17, 0.575);
}
.about-content h3{
    padding: 20px 0;
}