

.contact{
    width: 100%;
    height: auto;
    background:var(--soft-cream);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-container {
}
.contact .title{
    font-size: var(--fx-m);
    margin-bottom: 30px;
}
.contact-form{
    min-width: 330px;
    margin-top: 20px;
    flex: 1;
    padding: 30px 20px;
    background: var(--pry-bg);
    border: 2px solid var(--pry-bg);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.contact-form form{
    width: 100%;
}
.contact-form input, .contact-form textarea{
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    background: var(--soft-cream);
}
input:hover, input:focus, textarea:hover, textarea:focus{
    outline: none;
    border: none;
}
.contact-form button{
    padding: 10px 40px;
    background: var(--dark-accent);
}




