

.contact{
    width: 100%;
    height: auto;
    background:var(--soft-cream);
    padding: var(--pd-ls);
    display: flex;
    justify-content: center;
    align-items: center;
 }
.contact .sub-title{
    font-size: var(--fx-m);
    margin-bottom: 30px;
}
.contact-form{
    min-width: 500px;
    padding: var(--pd-m);
    background: var(--pry-bg);
    border: 2px solid var(--pry-bg);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.contact-form form{
    width: 100%;
}
.contact-form input, 
.contact-form textarea, 
.contact-form select,
.contact-form option{
    display: block;
    width: 100%;
    padding: var(--pd-s);
    margin-bottom: 20px;
    border: none;
    background: var(--soft-cream);
}
.contact-form input:hover,
.contact-form input:focus, 
.contact-form textarea:hover, 
.contact-form textarea:focus, select:hover{
    outline: none;
    border: none;
    border: 1px solid var(--tx-light);
}
.contact-form button{
    padding: 10px 40px;
    background: var(--dark-accent);
}
.contact-form button:hover{
    color: var(--dark-accent);
    background: var(--soft-cream);
}
@media screen and (max-width:768px) {
    .contact-form{
        min-width: 340px;
    }
}